    /* FONT ADD IN*/
    @font-face {
        font-family: 'Kingthings Organica';
        src: url('../fonts/Kingthings Organica.ttf') format('truetype');

    }

        /* BG colour */
    body{
        margin: 30px;
        background-color: #fffdf1;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .camera-container{
        position: relative;
        width: 240px;
        height: 720px;

        margin-left: 180px;
        margin-right: 60px;
        margin-top: 20px;
        margin-bottom: 60px;

        border: none;
        outline: none;
        background: transparent;
    }

    .select-option-photo{

        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        margin-top: 80px;
        
    }

    button{
        background-color: #FF5E70;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;

        /* font */
        font-family: 'Kingthings Organica', sans-serif;
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 1.3px;

    }

    button:hover{
        scale: 1.1;
    }

    #video{
        position:absolute;

        /* top:18px;
        left:21px;

        width:196px;
        height:135px; */

        object-fit:cover;

        display:none;
        z-index:2;
    }

    #finalCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        height: 720px;
        z-index: 1;
        
        display: block;
        border: 2px saddlebrown;
    }

    .photo {
        position: absolute;
        object-fit: cover;
        z-index: 3;

        opacity: 0;
        /* display: none; */
        border: none;
        outline: none;
        background: transparent;
    }

    .photo[src]{
        opacity: 1;
    }

    #photo-1 {
        top: 18px;
        left: 21px;
        width: 196px;      /* Adjust to match the cutout width */
        height: 135px;     /* Adjust to match the cutout height */
    }

    #photo-2 {
        top: 175px;
        left: 29px;
        width: 180px;      /* Adjust to match the cutout width */
        height: 138px;     /* Adjust to match the cutout height */
    }

    #photo-3 {
        top: 328px;
        left: 30px;
        width: 180px;     
        height: 130px;
    }

    #photo-4 {
        top: 479px;
        left: 25px;
        width: 187px;     
        height: 145px;
    }
    
    #frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 220px;  
        height: auto;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 3;
    }

     @media screen and (max-width:600px){
        body{
            margin: 0;
            padding: 15px 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main{
            width: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .camera-container{
            margin-left: 0px;
            margin-right: 0px;
            width: 240px;
            position: relative;
            
        }
        #frame {
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
            transform: none; 
    }

        .select-option-photo{
            margin-top: -50px;
            /* width: 180px;  */
            gap: 10px;
            z-index: 10;
        }
    }