    /* FONT ADD IN*/
    @font-face {
        font-family: 'Kingthings Organica';
        src: url('../fonts/Kingthings Organica.ttf') format('truetype');

    }

    body{
        margin: 10px;
        background-color: #fffdf1;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    h1{
        font-family: "Kingthings Organica";
        font-size: 72px;
        color: #FF5E70;
    }

    .main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;

        /* turnoff later */
        /* border: 3px solid green !important; */
    }

    .canvas-container{
        width: 240px;

        margin-left: -50px;
        /* turnoff later */
        /* border: 3px solid green !important; */
    }
    
    #finalCanvas{
        width: 240px;
        height: 720px;
    }

    .tray-pannel{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        /* gap: 30px; */

        width: 600px;
        margin-left: -80px;

        /* turnoff later */
        /* border: 3px solid green !important; */
    }

    .tray-container{
        position: relative;
        width: 400px;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 100px;
    }

    #tray{
        height: 700px;
        width: auto;

        display: block;
        margin-top: -80px;
        margin-left: -80px;

        /* turn off later */
        /* border: 3px solid green !important; */
    }

    .deco-sticker{
        position: absolute;
        top: 5px;
        left: 86px;

        width: 120px;
        height: 500px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 25px;

        gap: 5px;
        overflow-y: auto;
        overflow-x: hidden;

        /* turn off later */
        /* border: 3px solid red !important; */
    }

    .sticker-button {
        width: 95px;
        height: 95px;

        border: none;
        cursor: pointer;

        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        padding: 0;

        /* turnoff later */
        border: 3px solid rgb(66, 66, 99) !important;
        background-color: rgba(0, 0, 255, 0.1) !important;
    }

    .button-plant {background-image: url("../Images/sticker-plant.png");}
    .button-flower {background-image: url("../Images/sticker-flower.png");}
    .button-loading {background-image: url("../Images/sticker-loading.png");}
    .button-kanataun {background-image: url("../Images/sticker-kanataun.png");}
    
    /* Maintain your hover zoom effect */
    .sticker-button:hover {
        transform: scale(1.1);
    }

    .buttons{
        /* position */
        position: fixed;
        bottom: 10px;
        left: 50%;
        gap: 25px;
        z-index: 1000;
        transform: translateX(-50%);
        height: 60px;

        display : flex;
        justify-content: center;
        align-items: center;
    }

    button{
        background-color: #FF5E70;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;

        /* font */
        font-family: 'Kingthings Organica', sans-serif;
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 1.3px;

    }

    button:hover{
        transform: scale(1.1);
    }
    
    @media screen and (max-width:600px){
        body{
            margin: 0;
            padding: 20px 10px 120px 10px;
            min-height: 100vh;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        h1 {
            font-family: 'Kingthings Organica', sans-serif;
            margin-bottom: 10px;
            text-align: center;
        }

        .main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .tray-pannel{
            width: 100%;
            height: 60%;
            margin-top: -50px;
            /* justify-content: center; */
        }

        .tray-container{
            margin-top: 10px;
            transform: none;
            width: 100%;
            height: 80%;
            max-width: 400px;


            border: #FF5E70;
            outline: #FF5E70;
        }

        #tray{
            transform: rotate(90deg);
            
        }

        .deco-sticker{
            display: flex;
            flex-direction: row;
            overflow-x: auto;          
            overflow-y: hidden;       
            white-space: nowrap;

            top: 12px;
            left: 30px;
            right: 30px;
            bottom: 12px;
            width: 340px;
            height: auto;
            
            justify-content: flex-start;
            align-items: center;
            gap: 13px;
        }

        .sticker-button {
            flex-shrink: 0;
            width: 75px;             
            height: 75px;
        }

        .canvas-container{
            margin-top: -60px;
            display: flex;
            justify-content: center;
        }

        }